* {
    margin: 0px;
    padding: 0px;
}

div.imagen.col.d-flex.justify-content-end {
    padding-right: 0%;
}

.col-8 {
    padding-bottom: 3em;
}

a.contact.btn.btn-primary {
    margin-left: 18em;
}

.div.text.col-12 {
    p {
        text-align: center;
    }
}

.contact__map {
    margin-left: 4em;
}

.form__contact {
    margin-right: 4em;
}