@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
$colorArriba:#18516b;
$colorAbajo:#126985;
h4 {
    font-family: 'Poppins', sans-serif;
    color: $color-fondo;
    margin-left: 2em;
}

footer {
    background: linear-gradient($colorArriba, $colorAbajo);
    font-family: 'Poppins', sans-serif;
    ul {
        list-style: none;
        li {
            color: $color-fondo;
        }
    }
    p {
        color: $color-fondo;
    }
}