@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Poppins:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Poppins:wght@700&display=swap');
h2 {
    text-align: center;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    text-align: center;
    margin-top: 2em;
}

h5 {
    text-align: center;
    font-size: 2em;
    padding: 2em;
    color: $colorArriba;
    font-family: 'Poppins', bold, sans-serif;
}

h6 {
    text-align: center;
    font-size: 1.5em;
}

.row {
    h6 {
        padding-top: 6em;
    }
    p {
        text-align: center;
    }
    a.btn.btn-primary {
        text-align: center;
        align-items: center;
    }
}

.card-title__font {
    font-size: 1.5rem;
    font-family: 'Poppins', bold, sans-serif;
    font-weight: 400;
}